.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s ease;
}

.fade-background-enter-active,
.fade-background-leave-active {
    transition: opacity .8s ease;
}
.fade-background-enter-from,
.fade-background-leave-to,
.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}


.fade-content-enter-active,
.fade-content-leave-active {
    transition: opacity 0.2s ease;
}

.fade-content-enter-from,
.fade-content-leave-to {
    opacity: 0;
}

.fade-up-enter-active,
.fade-up-leave-active,
.fade-down-enter-active,
.fade-down-leave-active,
.fade-right-enter-active,
.fade-right-leave-active {
    transition: all 0.5s ease;
}

.fade-right-enter-from,
.fade-right-leave-to {
    transform: translateX(100px);
    opacity: 0;
}

.fade-up-enter-from,
.fade-up-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

.fade-down-enter-from,
.fade-down-leave-to {
    transform: translateY(100%);
    opacity: 0;
}

.fade-left-enter-active,
.fade-left-leave-active{
    transition: all 0.4s;
}
.fade-left-enter-from,
.fade-left-leave-to {
    transform: translateX(-100px);
    opacity: 0;
}
.fade-left-leave-to {
    pointer-events: none;
}

.translate-left-enter-active,
.translate-left-leave-active,
.translate-right-enter-active,
.translate-right-leave-active {
    transition: all 0.5s ease;
}

.translate-right-enter-from,
.translate-right-leave-to {
    transform: translateX(50%)!important;
    opacity: 0;
}

.translate-left-enter-from,
.translate-left-leave-to {
    transform: translateX(-50%)!important;
    opacity: 0;
}
 
.character-list-enter-active,
.character-list-leave-active {
  transition: all 0.5s ease;
}

.character-list-enter-from,
.character-list-leave-to {
  opacity: 0;
}