img[lazy=loading]{
    opacity: 0.5;
    animation: placeholder-loading 2s infinite;
}
img[lazy=loaded]{
    opacity: 0;
    animation: placeholder-loaded 1s forwards;
}

@keyframes placeholder-loading {
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}

@keyframes placeholder-loaded {
    0%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}