.fade-wish-weapon-bg-enter-active,
.fade-wish-info-portrait-enter-active,
.fade-wish-info-enter-active {
  transition: all 0.5s;
}

.fade-wish-info-enter-from {
  opacity: 0;
  transform: translateX(20px);
}

.fade-wish-weapon-bg-enter-from,
.fade-wish-info-portrait-enter-from {
  opacity: 0;
}

.fade-wish-weapon-bg-leave-active,
.fade-wish-info-portrait-leave-active,
.fade-wish-info-leave-active {
  transition: 0s;
  transition-delay: 0s !important;
}

.fade-wish-img-enter-active {
  animation: 1s WishImageEnter;
}

.fade-wish-img-five-star-enter-active {
  animation: 1s WishImageEnterFiveStar;
}

.fade-wish-img-portrait-enter-active {
  animation: 1s WishImageEnterPortrait;
}

.fade-wish-img-portrait-leave-active,
.fade-wish-img-five-star-leave-active,
.fade-wish-img-leave-active {
  transition: 0s;
}

.fade-star-wish-enter-active {
  transition: all 0.5s;
}

.fade-star-wish-leave-active {
  transition: 0s;
}

.fade-star-wish-enter-from {
  opacity: 0;
  transform: scale(3);
}

.fade-stars-enter-active {
  transition: 0.3s;
}

.fade-stars-leave-active {
  transition: 0s;
}

.fade-stars-enter-from {
  opacity: 0;
}

@keyframes WishInfoEnter {
  0% {
    transform: scale(2) translateX(30px);
  }

  50% {
    transform: scale(1) translateX(30px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes WishImageEnter {
  0% {
    filter: brightness(0);
    transform: scale(2) translateX(-12px);
  }

  50% {
    filter: brightness(0);
    transform: scale(1) translateX(-20px);
  }

  100% {
    filter: brightness(1);
    transform: translateX(0px);
  }
}

@keyframes WishImageEnterFiveStar {
  0% {
    filter: brightness(0);
    transform: translateX(0px) scale(2);
  }

  50% {
    filter: brightness(0);
    transform: translateX(0px) scale(1);
  }

  100% {
    filter: brightness(1);
    transform: translateX(0px) scale(1);
  }
}

@keyframes WishImageEnterPortrait {
  0% {
    filter: brightness(0);
    transform: translateX(0px) scale(2);
  }
  50% {
    filter: brightness(0);
    transform: translateX(0px) scale(1);
  }
  100% {
    filter: brightness(1);
  }
}
